# Application environment variables
NODE_ENV=dev
PORT=3001

# bcrypt enviroment variables
BCRYPT_SALT_ROUNDS=10

# JWT enviroment variables
JWT_SECRET=secret
JWT_EXPIRES_IN=1d

# database enviroment
DATABASE_USER=strivo
DATABASE_PASSWORD=postgresstrivo
DATABASE_HOST=localhost
DATABASE_PORT=5433
DATABASE_NAME=desenvolvimento
DATABASE_SCHEMA=public
DATABASE_URL="postgresql://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=${DATABASE_SCHEMA}"


# Supabase enviroment variables
SUPABASE_URL=
SUPABASE_KEY=
BUCKET_NAME=